PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://tumakazijobtech_db_user:Joshua_12!@cluster0.akmnycy.mongodb.net/county_plot_hub?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173
DEMO_MODE=false
BOOKING_HOLD_MINUTES=20
OTP_SECRET=replace-with-a-long-random-value

# Daraja / M-Pesa
MPESA_ENV=production
MPESA_CONSUMER_KEY=zy6Tc09PA8eteY3Mf5MVmiA590zOFgnPGmYJnCpJVdbF3ZeG
MPESA_CONSUMER_SECRET=KZ7pRIGv7y0FrdPThgVxxrvXHQhX8kHkj7XtRZLSKQxgMzA1RleTEMcSMnGscGiA
MPESA_SHORT_CODE=4574727
MPESA_PARTY_B=5367886
MPESA_PASSKEY=9d09b38cbf40d3dc7bb1b627954f9e22129fdc4b7273353279209905e96ce031
MPESA_CALLBACK_URL=http://localhost:4000/api/payments/daraja/callback
MPESA_TRANSACTION_TYPE=CustomerBuyGoodsOnline

# Talk Sasa
TALKSASA_API_KEY=4111|3pS6D2MZhrFc9y6IzNw2MBUYxgIoIawa8ymaaFUnc747194a 
TALKSASA_SENDER_ID=TALK-SASA
TALKSASA_API_URL=https://api.talksasa.com/v1/sms/send
